body {
	padding: 0;
	margin: 0;
	background: black;
}


.center {
	margin: 0 auto;
}


#whole {
	width: 960px;
	height: 1600px;
	background: #ffb37a;
	padding-top: 5px;
}

#right, #left {
	margin: 10px 10px 0 0;
}

#right {
	width: 210px;
	height: 500px;
	background: #3b70af;
}

#left {
	width: 696px;
	height: 900px;
	background: #7da7d3;
}

#right {
	padding: 10px 0px;
}





#right, #left {
	float: right;
}

.square, .wide, .half, .small {
	float: left;
	margin: 0px 10px;	
	overflow: hidden;
	text-align: right;
	position: relative;
}

.square {
	width: 210px;
	height: 210px;
	background: tomato;
	border: 1px dashed white;
}

.wide {
	width: 670px;
	height: 130px;
	background: tomato;
	border: 1px dashed black;
}

.half {
	width: 326px;
	max-height: 120px;
	height: 100%;
	background: tomato;
	border: 1px dashed green;
}

.square img, .wide img, .half img, .small img {
	position: absolute;
	top: 0;
	left: 0;
}

#logo {
	width: 100%;
	height: 150px;
	background: #72c85f;
}